<html>
  <head>
    <title>food truck rate</title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css" type="text/css" />
  </head>
  <body>
    <div class="nav">
        <h2>Food Truck Rate</h2>
        <% if (user) { %>
          <p>Hi <%= user %> </p>
       <% } %>
      </div>
      <% if (user) { %>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/account/logout">Logout</a>
            <a href="/profile">Profile</a>
          </div>
     <% } %>
     <div class="main-body">
       <div class ="left-col">
          <% if (user) { %>
            <a href="#" class="btn" id="new-truck">Add Food Truck </a>
            <div class="modal" style="display:none">
              <div class="name-area">
                <textarea type="text" id="truck-text">
                Truck Name: 
                </textarea>
                <a class="btn" type="submit" id="submit-truck">Submit</a>
                <a class="btn" id="close">Close</a>
              </div>
            </div>
            <% }  else { %>
              <div class="topnav">
                <a class="active" href="#home">Home</a>
                <a href="/account/login">Log in</a>
                <a href="/account/signup">Sign Up</a>
              </div> 
            <% } %>
            <% if (user) { %>
              <ul id="trucks">
              </ul>
            <% } %>
       </div>
       <div class="right-col">
          <% if (user) { %>
            <textarea id="user-search"></textarea>
              <a class="btn" type="submit" id="search-profile">Search User</a>
          <div id="show-truck" style="display:none">
              <div id="truck-info">
                <p id="truck"></p>
                <p id="rating-text"></p>
                <p id="comment-text"></p>
              </div>
              <br/><br/>
              <textarea id="comment"></textarea>
              <a class="btn" type="submit" id="submitComment">Submit Comment</a>
              <br> <br/>Please rate between 0-5
              <textarea id="rating"></textarea>
              <a class="btn" type="submit" id="submitRating">Submit Rating</a>
              <a class="btn" type="submit" id="like-truck">Like</a>
              <% } %>
          </div>
        </div>
     </div> 
  </body>
</html>